extra/tal.rng

<?xml version="1.0" encoding="UTF-8"?>
<element
        name="tal:address"
        xmlns="http://relaxng.org/ns/structure/1.0"
        xmlns:tal="http://phptal.motion-twin.com/2008/tal"
        datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <zeroOrMore>
      <element name="tal:card">
        <element name="tal:name">
          <text/>
        </element>
        <element name="tal:email">
          <text/>
        </element>
      </element>
    </zeroOrMore>
</element>
